<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Autentication Demo</h1>
        <h2>1. <a th:href="@{/admin}">Admin</a></h2>
        <h2>2. <a th:href="@{/user}">User</a></h2>
        <h2>3. <a th:href="@{/about}">Public</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>